@pri_color: #273441;
@sec_color: #3AA1E7;
@alt1_color: #F7F9FA;
@div_content: #fff;
@sec_container_fluid: #EFF3F6;
@foo_color: #283442;
@hed_color: #00B3FF;
@get_color: #4dab58;

// Margin

@margin-primary: 0;
@margin-secondary: 10px;
@margin-alt-1: 5px;
@margin-alt-2: 20px;
@margin-alt-3: 40px;
@margin-alt-4: 42px;
@margin-alt-5: 48px;

//Padding

@padding-primary: 0;
@padding-secondary: 10px;
@padding-alt-1: 15px;
@padding-alt-2: 20px;
@padding-alt-3: 40px;

// Color

@color-primary: rgb(39, 52, 65);
@color-primary-light: rgb(157, 183, 208);
@color-primary-dark: rgb(14, 43, 65);
@color-secondary: rgb(59, 171, 246);
@color-dark: #263238;
@color-light: rgb(247, 249, 250);
@color-alt-1: rgba(250,250,250,1);
@color-alt-2: rgb(105, 105, 105);
@color-alt-3: rgba(0,0,0,1);
@color-link-side:#565C74;
@color-link: #00A3E7;
@color-paragraph:#455A64;

@green: #4DAB58;
@blue: #36F;
@red: #C30;
@orange: #CC9900;

// Font-family

@font-family-primary: 'Open sans', Arial, sans-serif;
@font-family-secondary: 'PT Serif', Times, serif;
@font-family-alt-1: 'Droid Sans', sans-serif;
@font-family-alt-2: 'Droid Serif', serif;
@font-family-alt-3: 'Oswald', sans-serif;
@font-family-alt-3: 'Open sans', Arial, sans-serif;

// Font-size

@font-size-primary: 14px;
@font-size-secondary: 12px;
@font-size-alt-1: 32px;
@font-size-alt-2: 28px;
@font-size-alt-3: 15px;

// Font-weight

@font-weight-primary: 300;
@font-weight-secondary: 4 00;
@font-weight-alt-1: 600;
@font-weight-alt-2: 700;
@font-weight-alt-3: 800;
@font-weight-alt-4: 900;

// Line-height

@line-height-primary: 1.5em;
@line-height-secondary: 2em;
@line-height-alt-1: 1em;
@line-height-alt-2: 3em;
@line-height-alt-3: 4em;

body {
    font: @font-weight-primary @font-size-primary/@line-height-primary @font-family-primary;
    background: linear-gradient(90deg, @pri_color 0%, @pri_color 41.333333%, @alt1_color 41.333333%);
    margin-bottom: @margin-alt-3;
}
header{
    background-color: @pri_color;
    border-bottom: 3px solid @hed_color;
    padding: 10px;
}
section.shade {
    position: fixed;
    bottom: 0;
    width: 100%;
}
section.container-fluid {
    background: @sec_container_fluid;
}
section.shade  div.shaded {
    background: linear-gradient(180deg, transparent 0%, @alt1_color 34%);
    height:60px;
}
div.content {
    background: @div_content;
    height: 100%;
}
footer{
    background-color: @foo_color;
    color: @color-primary-light;
    padding-top: @padding-alt-2;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid @color-primary-dark;
}


footer p {
    color: @color-primary-light;
}

p {
    margin: @margin-secondary @margin-primary @margin-alt-5;
    font: @font-weight-primary @font-size-alt-3/@line-height-primary @font-family-primary;
    color: @color-paragraph;
}
h1 {
    margin: @margin-secondary @margin-primary @margin-alt-4;
    font: @font-weight-primary @font-size-alt-1/@line-height-alt-1 @font-family-primary;
    color: @color-dark;
}
h2 {
//    margin: @margin-secondary @margin-primary @margin-alt-2;
    margin: @margin-secondary @margin-primary @margin-alt-4;
    font: @font-weight-secondary @font-size-alt-2/@line-height-alt-1 @font-family-primary;
    color: @color-dark;
}
h3 {
    padding: @padding-alt-1 @padding-primary @padding-secondary;
    font: @font-weight-secondary @font-size-alt-1/@line-height-alt-1 @font-family-primary;
    color: @color-alt-2;
    text-transform: uppercase;
    border-bottom: dotted 1px;
}
h4 {
    margin: @margin-secondary @margin-primary @margin-alt-2;
    font: @font-weight-secondary @font-size-alt-3/@line-height-alt-1 @font-family-primary;
    color: @color-dark;
}
h5 {
    margin: @margin-secondary @margin-primary @margin-alt-2;
    font: @font-weight-primary @font-size-primary/@line-height-alt-1 @font-family-primary;
    color: @color-primary;
}
h6 {
    margin: @margin-secondary @margin-primary @margin-alt-2;
    font: @font-weight-primary @font-size-secondary/@line-height-alt-1 @font-family-primary;
    color: @color-primary;
}


ul,
ol {
    margin: 0 0 @margin-alt-2;
}
a {
    color: @color-link ;
}
a:hover {
    color: @color-primary-light;
    text-decoration: none;
}
.topmenu a {
    font-size: @font-size-alt-2;
    text-transform: uppercase;
}
.topmenu a:hover {
    color: @color-secondary;
    text-transform: uppercase;
}
.content {
    padding: @padding-alt-3;
}
.sidemenu ul {
    margin-top: @margin-alt-3;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: @div_content;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: @div_content;
    color: @color-link-side;
    border-left: 3px solid @hed_color;
}
.list-group-item.active>.badge, .nav-pills>.active>a>.badge {
    background-color: @get_color;
    color: @div_content;
}

table {
//    width:100%;
}

table tbody tr td {
    padding: @padding-secondary;
    border-bottom: 1px solid @color-primary-light;
}

table tbody tr td:first-child {
    color: @color-primary-light;
    font-size: @font-size-alt-3;
}

table tbody tr:last-child td {
    border: 0;
}

.sidemenu ul {
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 50px;
}

.get {
    background-color: @green;
}

.post {
    background-color: @orange;
}

.delete {
    background-color: @red;
}

.put {
    background-color: @blue;
}
